/* Import the font as you did before */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');


/* Global styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: 'Arimo', serif;
 
}

body {
    background-color: rgb(235, 235, 235);
    margin: 0;
    padding: 0;
}
/* Reset styles for various elements */
h1, h2, h3, h4, h5, h6, p, a, ul, li, span, button {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

input,
textarea {
    outline: none !important;
}

input:focus,
textarea:focus,
select:focus,
a:focus,
button:focus {
    box-shadow: none !important;
    outline: none !important;
}




header {
    background-color: #852e22;
    background-image: url('assets/texture2.JPG');background-size: cover;
    color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
  
    padding: 8px 0;
    margin-bottom: 0;

}



/* WhatsApp floater styles */
.floaters {
    position: fixed;
    bottom: 50px; /* Adjust for mobile */
    right: 50px; /* Adjust for mobile */
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
}

.floaters img {
    width: 60px; /* Adjust for mobile */
    transition: transform 0.3s ease;
}

.floaters img:hover {
    transform: scale(1.1); 
}


.text-white { 
    font-size: 15px;
    text-align: right;margin-right: 10px;
    font-weight: bold;
    letter-spacing: 1.25px;
}

.text-white a {
    text-decoration: none;
    color: #ffdb3b;
}

.text-white a:hover {
    color: #fff;
}

.yellow{
    text-decoration: none;
    color: #ffdb3b;
}



/* Scroll */
.header-text {
    overflow: hidden;
    width: 100%;
    animation-play-state: paused;
  }
  
 .scrolling-text {
    white-space: nowrap;
    animation: scrollText 6s linear infinite;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    text-align: left;
    padding: 5px 10px;
    
  }
  
  /* Pause animation on hover */
  .header-text:hover .scrolling-text {
    animation-play-state: paused;
  }
  
  /* Resume animation when not hovering */
  .header-text:not(:hover) .scrolling-text {
    animation-play-state: running;
  }
  
  @keyframes scrollText {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }


  
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left {
    flex: 1;
    text-align: center;
}

.right {
    flex: 0 0 40%;
    background-color: #f7f7f76b;
    overflow: hidden;
    text-align: right;
}


  
        /* Logo styles */
        .navbar-logo {
            display: flex;
            align-items: center;
            padding: 0px 20px 0 0;
        }

        .navbar-logo img {
            width: 160px; /* Adjust the width as needed */
            height: auto;
        }

        /* Vertical div container */
        .vertical-divs {
            display: flex;
            padding: 0 0px;
            flex-direction: column;
            
        }

        
        .hiddenList {
            display: none;
        }

        /* Navbar styles */
        .navbar {
            
            overflow: hidden;
            display: flex;
            flex-direction: row;
            justify-content: center; /* Center the child elements */
            flex-wrap: nowrap; 
          
            /* Display navbar items vertically */
            
        }

        .navbar a {
            color: rgb(10, 10, 10);
            text-align: center;
            font-weight: bold;
            text-decoration: none;
            display: block; /* Add this property */
            width: 100%; 
            padding: 10px 10px;   /* Add this property */
        }

        .navbar a:hover {   
            color: black;          
        } 

        
        .SilverButton{ background-color: #eeeeee;

        } 
        .SilverButton:hover{background: linear-gradient(45deg, #c0c0c0, #f5f5f5);}
        .GoldButton:hover{background: linear-gradient(45deg, #cc9405, #ffd700);}
        .GoldButton{ 
            background-color: #ffdb3b;
        }   
        .dropdown {
        
            overflow: hidden;
        }

        /* Dropdown button */
        .dropdown .GoldButton {
            border: none; 
            outline: none;
            font-family: inherit;
            cursor: pointer; color: rgb(10, 10, 10);
            text-align: center;
            font-weight: bold;
            font-size: large;
            text-decoration: none;
            display: block; /* Add this property */      
            padding: 10px 120px; 
        }
        .dropdown .SilverButton {
            border: none;
            outline: none;
            font-family: inherit;
            cursor: pointer; color: rgb(10, 10, 10);
            text-align: center;
            font-size: large;
            font-weight: bold;
            text-decoration: none;
            display: block; /* Add this property */
            width: 100%; 
            padding: 10px 120px; 
        }

        /* Dropdown content (hidden by default) */

       
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9ec;
            min-width: 28%;
            z-index: 6;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            column-count: 2; /* Divide content into two columns */
           column-gap: 20px;
            
        }

        /* Dropdown links */
        .dropdown-content a {
            float: none;
            color: rgb(32, 32, 32);
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: center;
        }

         .Gold a:hover{  background-color: rgb(255, 247, 205)}
         .Silver a:hover{  background-color: #fdfdfdb6}

        /* On hover, display the dropdown content */
        .dropdown:hover .dropdown-content {
            display: block;
        }


        .image-slider {
            position: relative; /* Container for absolute positioning */
            height: 85vh;
            z-index: 1;text-align: center; /* Set the height to 100% of the viewport height */
        }
      
          
          .slider-item {
            display: inline-block;
          }
          
          .slider-item img {
            max-width: 100%;
            height: auto;
          }
          .Explore-button{z-index: 10;transition: 0.15s ease-in;;cursor: pointer;padding: 15px 80px;font-size: large;letter-spacing: 2px;background-color: #852e22a2;color: rgb(255, 255, 255);border:solid 1.5px white;}
          .Explore-button:hover{scale: 1.05;transition:  0.15s ease-in;background-color: #852e22
            ;}
          .slider-text {
            position: absolute;
            top: 50%;
            white-space: nowrap;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: 'EB Garamond', cursive;
            color: white;
            padding: 10px;
            text-align: center;
            font-size: 50px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
            z-index: 5;
          }
        .image-slider img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; /* Maintain aspect ratio and cover the container */
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }
        
        .image-slider img:first-child {
            opacity: 1;
        }


        .GoldRange-Heading{display: flex;justify-content: center;margin-bottom: 60px;}
        .Range-Bar{width: 180px;height: 30px;}
        .GoldRange-Heading-Text{padding: 0 10px;font-family: 'EB Garamond', cursive;font-size: 25px;color: #472c2c;font-weight: 400;} 
        .GoldRange{padding-top:100px;margin-bottom: 60px;display: block;}
        .GoldRange-Text{padding: 100px 0 50px 0;font-family: 'EB Garamond', cursive;font-size: 24px;color: #472c2c;font-weight: 400;text-align: center;font-style: italic;}
        .thumbnails{margin: 10px;transition:  0.15s ease-in;cursor: pointer;width: 200px;}
        .thumbnails:hover{scale: 1.1;transition:  0.15s ease-in;}

        .thumbnail-container{display: flex;justify-content: center;}


        .Banner{display: flex;justify-content: center;padding: 100px 0;background-color: #145d3d;
            background-image: url('assets/texture2.jpg');background-size:cover}
        .Banner-Image{width: 350px;}
        .Banner-Text{padding: 0 20px;font-family: 'EB Garamond', cursive;font-size: 100px;color: #e2e2e2;font-weight: 400;}


        .Bulk{padding: 50px 0;background-color: rgba(255, 255, 255, 0.842);}
        .Bulk-Images{width: 250px;padding: 0 10px;}
        .Bulk-Text{font-family: 'EB Garamond', cursive;font-size: 30px;color: #472c2c;font-weight: 400;text-align: center;padding-top: 40px;}
        .Bulkicon{scale: 100%;padding: 20px;transition:  0.5s ease;cursor: pointer;}
        .Bulkicon:hover{scale: 130%;transition:  0.5s ease;}


iframe{width: 900px;height: 400px;}





/* Media Query for Mobile Devices */
@media (max-width: 768px) {

 

    .floaters {
        bottom: 20px;
        right: 20px;
    }

    .floaters img {
        width: 60px;
    }

    header {
  
        display: block;
        justify-content: center;
        padding: 5px;
        margin-bottom: 0;
    
    }


    .container {
        display: block;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .text-white { 
        font-size: 12px;
        text-align: center;margin-right: 0px;
        font-weight: bold;
        letter-spacing: 1.25px;
    }

   .right{margin: 4px 20px;}

   .scrolling-text {
    white-space: nowrap;
    animation: scrollText 8s linear infinite;

    text-align: left;
  
    
  }


    .navbar-logo {
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .navbar{padding-bottom: 5px;}
    .dropdown .GoldButton {
       
        font-size: normal;
        display: block;   
        padding: 10px 10px; 
    }

    .dropdown .SilverButton {
        font-size: normal;
        display: block;
        padding: 10px 20px; 
    }
    
    .Silver{right: 0; }
    .dropdown-content {
       
        position: absolute;
        background-color: #f9f9f9ec;
        min-width: 28%;
        z-index: 6;
    
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        column-count: 2; /* Divide content into two columns */
        column-gap: 20px;
        
       overflow-y: auto;
    }



    .image-slider {    
        height: 50vh; 
    }
           
      .Explore-button{padding: 15px 50px;margin-top: 10px;}
      .slider-text {
        padding: 10px;
        font-size: 22px;
      }


    .GoldRange{padding-top:50px;margin-bottom: 10px;}
    .GoldRange-Heading{margin-bottom: 20px;}
    .GoldRange-Heading-Text{padding: 0 10px;font-size: 20px;margin-top: -3px;} 
    .Range-Bar{width: 100px;height: 20px; }
    .GoldRange-Text{padding: 50px 20px 50px 20px;font-size: 20px;}

    .thumbnail-container{display: flex;justify-content: left; width: 100%; /* Adjust the width as needed */
        overflow-x: auto; /* Enable horizontal scrolling */
        white-space: nowrap; }
    .thumbnails{margin: 10px;width: 150px;display: inline-block; }

    .Banner{padding: 20px 0;}
    .Banner-Image{width: 100px;}
    .Banner-Text{padding: 20px 0px 20px 20px;font-size: 20px;}


    .Bulk{padding: 10px 0;}
    .Bulk-Text{font-size: 20px;padding-top: 40px;}
    .Bulk-Images{width: 120px;padding: 0 10px;}

     iframe{width: 900px;height: 300px;}
}